.search-input.input {
  background: transparent !important;
  border: 1px solid #E4E6FF !important;
  border-radius: 30px !important;
  font-size: 12px;
  color: #222;
  height: 50px !important;
  min-height: 50px !important;

  box-shadow: none;
}

.search-input.input:focus {
  border-color: #7C3AED !important;
}

.search-input.input::placeholder {
  color: #b0b0c3;
  opacity: 1;
} 